h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-weight: bold; 
}

h2 {
    text-align: center;
    color: #fff;
}

.navbar {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 0.5px;
    margin-bottom: 50px;
    padding: 0;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: #fff;
    font-weight: 700;
    padding: 20px;
}

.nav-link {
    color: #777777;
}

.foot1 {
    background-color: #4aaaa5;
    height: 5px;
}

.foot2 {
    background-color: #666666;
    height: 45px;
}

#footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.container {
    background-color: #ffffff;
    border-style: solid;
    border-color: lightgrey;
    border-width: 0.5px;
    margin-bottom: 100px;
    position: relative;
}

.row {
    padding: 25px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    height: 200px;
    width: 250px;
    margin-right: 15px;
    float: left;
}

.col-md-4, .col-md-12 {
    float: left;
    margin-top: 15px;
}

.card-body {
    background-color: #4aaaa5;
}

.btn {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}